.services-banner {
    background-image: linear-gradient(to right, #1c5443cc 50%, rgba(28, 85, 68, 0.363) , rgba(255,255,255,0) ), url('https://ik.imagekit.io/hjsantos797/My_website_images/services-banner-min_liQxtFr2X_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650331500635');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}
.services-banner h3 {
        position: relative;
        top: 30%;
        color: white;
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
    
}
.services-intro-container {
    padding: 1rem;
}
.services-intro {
    box-shadow: 1px 1px 30px 10px #3a3a3a19;
    padding: 1rem;
    margin: 4rem auto;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
}

.row {
    margin-bottom: 6rem;
}
.services-intro .h5 {
    font-size: 2.4rem;
    text-align: center;
}

.card-text {
    font-weight: 200;
}


.col-text {
    text-align: center;
}

.col-text h3 {
    font-size: 2rem;
}

.col-text p {
    display: inline-block;
    width: 90%;
    font-weight: 200;
}

.services-img {
    box-shadow: 1px 1px 60px 10px #1c544341;
}

@media screen and (max-width: 776px) {
    .col-text {
        margin-top: 2rem;
    }
}